<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <meta charset="utf-8">
                <title>
                    OM课堂-大三快三步
                </title>
                <script src="__STATIC__/class/js/fontSize.js">
                </script>
                <link href="__STATIC__/class/css/bootstrap.min.css" rel="stylesheet">
                    <link href="__STATIC__/class/css/style.css" rel="stylesheet">
                        <script src="__STATIC__/class/js/jquery.min.js">
                        </script>
                    </link>
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <div class="wrapper">
            <!-- <div class="goBack">
       <div class="container_b">
           <a href="index.html">
               <img src="__STATIC__/class/images/back.png">
           </a>

       </div>
   </div> -->
            <div class="orderBox">
                <div class="banner">
                    <!--   <div class="container_b"> -->
                    	<p style="font-size: 0.3rem;font-family: simsun;line-height: normal;margin-top: 0.35rem;">添加老秘，开课前拉同学进群</p>
                    <img src="__STATIC__/class/images/order_banner.jpg">
                        <!--  </div> -->
                    </img>

                </div>
                <div class="orderTxt">
                    <h3>
                        已选课程
                    </h3>
                    <div class="class">
                        <ul>
                            {volist name="sourse" id="vo"}
                            <li>
                                {$vo}
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="code">
                        <p>
                            点击支付订单，即表示您已同意
                            <a class="agreement" href="{:url('Index/agreement')}">
                                《电子协议》
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menuBox">
                    <div class="container_m">
                        <span>
                            实付金额：￥ {$price}
                        </span>
                        <div class="menu-btn">
                            <button class="menu1">
                                支付订单
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('.menu1').on('click',function(){
        var fee = "{$price}";
        var dataArr = "{$content}";
        var strLen = getBLen(dataArr);//获取课程长度
        var tradeNo = randomNum(100000,999999);//生成唯一订单号
        //判断价格为零的课程,直接跳过支付.
        if(fee == '0.0'){
            $.ajax({
                url:"{:url('Index/pay')}",
                data:{
                    openid:"{$Think.cookie.openid}",
                    'price':{$price},
                    'content':"{$content}",
                    tradeNo:tradeNo
                },
                type:'post',
                dataType:'json',
                success:function(data){
                    if (data.status == 200) {
                        setTimeout(function(){
                            alert('支付成功');
                            window.location.href="{:url('Index/pay_success')}";
                        },1000)
                    } else {
                        setTimeout(function(){
                            alert('支付失败,请重新购买!');
                            window.location.href="{:url('Index/index')}";
                        },1000)
                    }
                }
            })
            //比较字符串长度,限制选择课程个数,超过长度无法通过支付
        }else if(parseInt(strLen)>87){
            setTimeout(function(){
                alert('选择课程超过限制(限9个),请重新选择!');
                window.location.href="{:url('Index/index')}";
            },1000)
        }else{
            //小于长度通过支付
                $.ajax({
                url:"{:url('Pay/wxPay')}",
                data: {
                        openid:"{$Think.cookie.openid}",
                        'price':{$price},
                        'content':"{$content}",
                },
                type:'post',
                dataType : 'json',
                success: function(data){
                    console.log(data);
                   if(data.length == ''){
                        setTimeout(function(){
                                alert('支付失败,请重新购买!');
                                window.location.href="{:url('Index/index')}";
                            },1000)
                   }else{
                        callpay(data);
                   }
                }
            })
        }
    //获取字符串长度
    function getBLen(str) {
      if (str == null) return 0;
      if (typeof str != "string"){
        str += "";
      }
      return str.replace(/[^\x00-\xff]/g,"01").length;
    }
        // 生成随机唯一订单No
    function randomNum(minNum,maxNum){
        var today = new Date();
        var day   = today.getDate(); //获取当前日(1-31)
        var month = today.getMonth() + 1; //显示月份比实际月份小1,所以要加1
        var year  = today.getYear();  //获取完整的年份(4位,1970-????)  getFullYear()
        var years=today.getFullYear();
        years= years<99?"20"+years:years;
        month    = month<10?"0"+month:month;  //数字<10，实际显示为，如5，要改成05
        day   = day<10?"0"+day:day;
        var hh=today.getHours();
        hh   = hh<10?"0"+hh:hh;
        var ii=today.getMinutes();
        ii   = ii<10?"0"+ii:ii;
        var ss= today.getSeconds();
        ss   = ss<10?"0"+ss:ss;
        var dada = years+month+day+hh+ii+ss;//时间不能直接相加，要这样相加！！！14位

            switch(arguments.length){
                case 1:
                    return dada+parseInt(Math.random()*minNum+1,10);
                break;
                case 2:
                    return dada+parseInt(Math.random()*(maxNum-minNum+1)+minNum,10);
                break;
                    default:
                        return 0;
                    break;
            }
        }



        //调用微信JS api 支付
     function jsApiCall(parameters)
        {

            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest',
                    {
                         "appId":parameters.appId,
                         "nonceStr":parameters.nonceStr,
                         "package":parameters.package,
                         "paySign":parameters.paySign,
                         "signType":parameters.signType,
                         "timeStamp":parameters.timeStamp
                    },
                    function(res){
                        console.log(res)
                        // 支付成功后,将数据保存到数据库中
                        if(res.err_msg == 'get_brand_wcpay_request:ok'){
                            $.ajax({
                                url:"{:url('Index/pay')}",
                                data:{
                                    'openid':"{$Think.cookie.openid}",
                                    'price':parameters.price,
                                    'content':parameters.content,
                                    'tradeNo':parameters.tradeNo,
                                },
                                type:'post',
                                dataType:'json',
                                success:function(data){
                                    if (data.status == 200) {
                                        setTimeout(function(){
                                            alert('支付成功');
                                            window.location.href="{:url('Index/pay_success')}";
                                        },1000)
                                    } else {
                                        setTimeout(function(){
                                            alert('支付失败,请重新购买!');
                                            window.location.href="{:url('Index/index')}";
                                        },1000)
                                    }
                                }
                            })
                        }else{
                             setTimeout(function(){
                                alert('取消支付成功');
                                window.location.href="{:url('Index/index')}";
                             },1000)
                        }
                    }
            );
        }
      function callpay(data){
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall,false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall(data);
            }
        }
    })
        </script>
    </body>
</html>