.audit_img_01{
   max-width: 100%;
   margin-top: 15%;
}
.audit_div2{
    text-align: center;
}
.audit_p{
    text-align:center;
    letter-spacing: 2px;
    line-height: 2em;
}
.audit_p2{
    font-size: 16px;
    color: #a3a3a3;
    line-height: 0.5em;
}
.updata_btn_div_three{
	text-align: center;
	
}
.updata_btn_three{
	width: 90%;
	background: #2974E7;
	outline:none;
	border:none;
	width: 50%;
	margin: 10% auto;
    color: #fff;
    height: 1.55rem;
    line-height: 1.55rem;
    border-radius: 15px;
    font-size: 0.6rem;
}