body{
	background-color: #F9F9F9;
}
#Wrapper{
	width: 100%;
}
#Wrapper h1{
	text-align: left;
	padding-left: 3%;
	color: #CFCFCF;
	height: 1.6rem;
	line-height: 1.6rem;
	font-size: 0.65rem;
	font-weight: normal;
}
.conter2{
	width: 94%;
	padding: 3%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	zoom: 1;
	background-color: #fff;
}
.conter2 li{
	height: 1.8rem;
	line-height: 1.8rem;
	border-bottom: #F2F2F2 solid 1px;
	color: #1B1B1B;
	font-size: 0.65rem;
}
.conter2 li:last-child{
	border-bottom: 0;
}
.conter2 li label{
	width: 20%;
	float: left;
}
.conter2 li span{
	width:2%;
	float: right;
}
.conter2 li span img{
	width: 100%;
	vertical-align: middle;
}
.conter2 li input{
	float: right;
}
.conter2 li input, .cl{
	width: 73%;
	float: left;
	border: 0;
	text-align: right;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.6rem;
}
.conter2  .cl input{
	float: right;
}
.submit{
	width: 50%;
	display: block;
	margin: 5% auto;
	background-color: #2974E7;
	color: #fff;
	border: 0;
	height: 1.55rem;
	line-height: 1.55rem;
	border-radius: 5px;
	font-size: 0.6rem;
	text-align: center
}





/* 技能调查 style */
.formtop{
	padding: 3%;
	overflow: hidden;
	zoom: 1;
	height: auto;
	
}
.formtop span{
	padding: 1% 2% 1% 2%;
	display: inline-block;
	border-radius: 5px;
	border: #DADADA solid 1px;
	height: 1.3rem;
	line-height: 1.3rem;
	font-size: 0.6rem;
	margin-bottom: 2%;
	color: #696969;
}
.textarea{
	width: 90%;
	display: block;
	margin: 5% auto;
	height: 5.5rem;
	border: #DADADA solid 1px;
	border-radius: 5px;
	text-align: center;
}
.box{
	height: auto;
	overflow: hidden;
	zoom: 1;
	background-color: #fff;
}