.head{
	padding: 4%;
	height: 7.2rem;
	text-align: center;
	background: url(../img/banner.jpg) no-repeat center top 100%;
	color: #fff;
}
.imgbox{
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50px;
	margin:0 auto;
	float: left;
	margin-top: 1.4rem;
}
.head_mid{
	width: 65%;
	float: left;
	text-align: left;
	margin-left: 3%;
	margin-top: 1.4rem;
}
.imgbox2{
	width: 3%;
	float: right;
	line-height: 6rem;
}
.ew_img{
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
}
.imgbox img, .imgbox2 img, .ew_img img{
	width: 100%;
}
.head a{
	color: #fff;
}
.head h1{
	font-weight: 600;
	font-size:1rem ;
	padding-bottom: 3%;
}
.head  p{
    font-size: 0.65rem;
}
.jf{
    text-align:left;
    padding-left: 4%;
    color: #fff;
    font-size: 0.65rem;
    margin-top: 2%
}
.jf span{
    font-size: 0.7rem;
    font-weight: 600
}
.h_box{
    height:4.5rem;
    overflow: hidden;
    zoom: 1;
}
.list_box{
    height: auto;
    overflow: hidden;
    zoom: 1;
}
.list_box ul li{
    padding: 3% 2% 3% 2%;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: 0.65rem;
    color: #636363;
    border-bottom: #E3E3E3 solid 1px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.list_box ul li span{
    float: left;
}
.list_box ul li .les{
    float:right;
}
.list_box ul li .les span.les_img{
    width: 0.6rem;
    height: 0.6rem;
    float: right;
}
.list_box ul li .les span.les_img img{
    width: 100%
}
.list_box ul li .les .jian{
    color: #E80808;
    font-weight: 600
}
.list_box ul li .les .jia{
    color: #08D174;
    font-weight: 600
}
.status{
    text-align: center;
    font-size: 0.6rem;
    color: white;
    background-color: darkgrey;
    display: none;
    padding-top: 3%;
}
/* 下拉样式 */
#wrapper {
    width: 100%;
    background-color: #fff;    
    -ms-touch-action: none;/* 防止本机Windows上的触摸事件 */
    -webkit-touch-callout: none; /* 防止callout tap-hold和文本的选择 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 防止文本调整取向变化对web应用程序很有用 */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.pull-loading {
    font-size: 0.4rem;
    color: #636363;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #scroller{
    position:relative;
    /* -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    float:left;
    width:100%;
    padding:0;
    }
    
    #scroller ul{
    position:relative;
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
    }    
