.rules_layout{
	width: 95%;
	margin: 0 auto;
}
.rules_Img_01{
	width: 100%;
}
.rules_layout_div{
	background: #fff;
	
}
.rules_p_style{
	/*border-left: 2px solid #a8853a;*/
	color: #a8853a;
	font-weight: bold;
	font-size: 0.8rem;
	margin: 0;
	padding-top: 0.3rem;
	padding-bottom: 0.4rem;
	
}
.rules_p_1{
	border-bottom: 1px solid #e5e5e5;width: 100%;margin: 0 auto;
}

.rule_tittle_1{
	font-size: 0.8rem;margin-bottom: 0.3rem; font-weight:bold;color: #5c5c5c;
}
.rules_pagroup{
	font-size: 0.6rem;margin-top: 0;color: #b4b4b4;
}
.rule_border_bottom{
	border-bottom: 1px solid #e5e5e5;width: 100%;
}
