<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>团购宝-活动</title>
		<link rel="stylesheet" href="__CDN__/assets/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="__CDN__/assets/css/actives.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="__CDN__/assets/js/mobilesp.js" ></script>
	</head>
	<body>
		<div class="body">
			<div class="active_bg"><img src="__CDN__/assets/img/bg.png" /></div>
			<div class="bigwrap">
				<div class="head">
					<span>活动详情</span>
					<a href="#"><img src="__CDN__/assets/img/fenxiang.png" /> </a>
				</div>
				<div class="wrap1">
					<div class="h_img">
						<img src="__CDN__/assets/img/ziti01.png" />
					</div>
					<p class="tl">-注册成为会员，即可免费参加活动-</p>
					<div class="hong">
						-上传凭证-填写凭证信息-<br />
						 商家审核-获得抵用金额
					</div>
					<div class="button_group">
						<a href="#">
							上传凭证
							<!--<img src="__CDN__/assets/img/ziti03.png" />-->
						</a>
						<a href="#" style="margin-left: 3%;">
							注册会员
							<!--<img src="__CDN__/assets/img/ziti02.png" />-->
						</a>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>
