<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>团购宝-积分</title>
		<link rel="stylesheet" href="__CDN__/assets/css/common.css" type="text/css"/>
		<link rel="stylesheet" href="__CDN__/assets/css/pionts.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="__CDN__/assets/js/mobilesp.js" ></script>
	</head>
	<body>
		<div class="body">
			<div class="hader">
				<p>获取积分途径：</p>
				<h1>
					调查或圈子
				</h1>
			</div>
			<div class="Wrapb">
				<a href="javascript:;">
					<dl class="frist">
						<dt><img src="__CDN__/assets/img/jifenimg_01.png" /> </dt>
						<dd>完成调查</dd>
					</dl>
				</a>
				<a href="javascript:;">
					<dl>
						<dt><img src="__CDN__/assets/img/jifenimg_02.png" /> </dt>
						<dd>邀请加入圈子</dd>
					</dl>
				</a>
				<a href="javascript:;" >
					<dl class="frist">
						<dt><img src="__CDN__/assets/img/jifenimg_03.png" /> </dt>
						<dd>信息付费</dd>
					</dl>
				</a>
				<a href="javascript:;" >
					<dl>
						<dt><img src="__CDN__/assets/img/jifenimg_04.png" /> </dt>
						<dd>上传凭证</dd>
					</dl>
				</a>
			</div>
		</div>
	</body>
</html>
