<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <title>我的</title>
        <link rel="stylesheet" href="__CDN__/assets/css/common.css" type="text/css"/>
        <link rel="stylesheet" href="__CDN__/assets/css/new.css" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="__CDN__/assets/js/mobilesp.js" ></script>
    </head>
    <body>
        <div class="body">

            <div class="head">
                <a href="">
                    <div class="imgbox"><img src="__CDN__/{$user['avatar']}" /> </div>
                    <div class="head_mid">
                        <h1>{$user['nickname']}</h1>
                        <p>圈子ID:<span>{$userId}</span>
                            <span class="ew_img"><img src="__CDN__/assets/img/opcityimg.png" /> </span>
                        </p>  
                    </div>
                    <div class="imgbox2"><img src="__CDN__/assets/img/jt2.png" /> </div>
                </a>
            </div>
            <div class="content_x">
                <div class="bg_img">
                     <img src="__CDN__/assets/img/noCont.png" alt="">
                </div>
                <p class="tishi">此功能正在开发中</p>

            </div>
        </div>
     <script language="javascript">
    //     //防止页面后退
    //     history.pushState(null, null, document.URL);
    //     window.addEventListener('popstate', function () {
    //         history.pushState(null, null, document.URL);
    //     });
     </script>
    </body>
</html>
